version: "3.7"

services:
  vscode:
    build: .
    image: qmcgaw/reactdevcontainer
    volumes:
      # Docker volume to contain node_modules for performance reason
      - node_modules:/workspace/node_modules
      - ../:/workspace
      # Docker socket to access Docker server
      - /var/run/docker.sock:/var/run/docker.sock
      # SSH directory
      - ~/.ssh:/root/.ssh
      # Git config
      - ~/.gitconfig:/root/.gitconfig
      # Kubernetes
      # - ~/.kube:/home/districter/.kube
      # - ~/.kube:/root/.kube
    environment:
      - TZ=
    entrypoint: zsh -c "while sleep 1000; do :; done"
    ports:
      - 3000/tcp

volumes:
  node_modules:
